.header {
  font-family: "Raleway", Helvetica, Arial, sans-serif
}

a {
  color: #3b8bba;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:visited {
  color: #265778;
}

.small-print {
  font-size: 0.8em;
  margin: 0.6em;
}

.post-meta {
  font-size: 90%;
}

article > footer {
  text-align: right;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

#menu {
  overflow-y: visible;
}

#menu a {
  padding: 0.6em;
}

#menu .brand {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: none;
  background: transparent;
  text-decoration: none;
  margin: 0.5em 0;
}

#menu .pure-menu {
  font-size: 0.9em;
}

#menu .pure-menu ul.pure-menu-children {
  border-top: none;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.pagination {
  text-align: center;
  margin-top: 3em;
}

.pagination a {
  color: #265778;
}

img[src$='#center']
{
  display: block;
  margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
  /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
  float:left;
  margin: 0.7rem;      /* this margin is totally up to you */
  /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
  float:right;
  margin: 0.7rem;      /* this margin is totally up to you */
  /* whatever else styles you fancy here */
}